<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<Configuration status="warn" name="MyApp" packages="">
	<Properties>
		<Property name="logDir">C:/mylogs</Property>
		<Property name="logName">activeLog.log</Property>
	</Properties>
	 
	<Appenders>
		<RollingFile name="File" fileName="${logDir}/${logFile}" filePattern="${logDir}/%d{yyyy-MM-dd}/logfile_%d{HH-mm-ss}.log">
			<PatternLayout  pattern="%d{HH:mm:ss:SSS} [%-5level] %l - %m%n" />
			
			<policies>
				<TimeBasedTriggeringPolicy />
			</policies>
		</RollingFile>
		  
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout  pattern= "%d{HH:mm:ss:SSS} [%-5level] %l - %m%n" />
		</Console>
	</Appenders>
	 
	<Loggers>
		<logger name="myLogger" level="ALL" additivity="false">
			<AppenderRef ref="File" level="ALL" />
			<AppenderRef ref="Console" level="ALL"/>
		</logger>
		  
		<Root level="INFO">
		</Root>
	</Loggers>
 
</Configuration>